/*====================================================
Tailwind CSS styles
====================================================*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*====================================================
base styles
====================================================*/
@layer base {
    body {
        font-family: "Zen Kaku Gothic New", sans-serif;
        font-size: 1.6rem;
        line-height: 1.5;
        color: theme('colors.black');
        font-weight: 400;
    }
    img {
        vertical-align: bottom;
        max-width: 100%;
        height: auto;
        -ms-interpolation-mode: bicubic;
    }
    ::-moz-selection {
        background-color: theme('colors.yellow.500');
        color: theme('colors.white');
    }
    ::selection {
        background-color: theme('colors.yellow.500');
        color: theme('colors.white');
    }
}

/*====================================================
components styles　※Button、Card、Modal etc..
====================================================*/
@layer components {
    
}

/*====================================================
utilities styles　※mergin、padding etc..
====================================================*/
@layer utilities {
    .text-shadow {
        text-shadow: 2px 2px rgb(33 37 41 / 30%);
    }
}