/*====================================================
Tailwind CSS styles
====================================================*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*====================================================
base styles
====================================================*/
@layer base {
    body {
        font-family: "Noto Sans TC", sans-serif;
        line-height: 1.5;
        color: theme('colors.black');
        font-weight: 400;
    }
    img {
        vertical-align: bottom;
        max-width: 100%;
        height: auto;
        -ms-interpolation-mode: bicubic;
    }
    ::-moz-selection {
        background-color: theme('colors.black');
        color: theme('colors.white');
    }
    ::selection {
        background-color: theme('colors.black');
        color: theme('colors.white');
    }
}

/*====================================================
components styles　※Button、Card、Modal etc..
====================================================*/
@layer components {
    .bgStyle:after{
        content: "";
        position: absolute;
        display: inline-block;
        background: linear-gradient(172.7deg, theme('colors.yellow') 50%, theme('colors.white') 50.1%);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

/*====================================================
utilities styles　※mergin、padding etc..
====================================================*/
@layer utilities {
    
}